*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}
.box {
    display: flex;
    max-height: 100vh;
    
}

.sidebar {
    background-color:purple;
    height: 110vh;
    width: 20%;
    position: fixed;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.image {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    margin-top: 140px;
    margin-left: 55px;
    outline: 8px solid #714f85d5;
    box-shadow: rgba(44, 44, 44, 0.842) 0px 5px 15px;
}

.link {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    margin-top: 30px;
    font-size: 18px;
    color: rgb(206, 206, 206);
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    font-weight: bold;
}

.link:hover {
    color: black;
    text-decoration: underline;
    text-shadow: -2px 0 4px rgba(0, 0, 0, 0.6);
    font-weight: 500;
}
a:visited{
    color: white;
}

.content {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin-left: 20%;
    margin-top: 10%;
    height: 80vh;
    padding-left: 55px;
    font-family: "Rubik", sans-serif;
    text-transform: uppercase;
    border-bottom: 1px rgba(44, 44, 44, 0.116);
    align-items: left;
    border-bottom: 2px solid rgb(15, 15, 15);
}



.about {
    font-size: 60px;
}

h1>span {
    color: purple;
}

.address {
    margin-top: 2px;
    margin-left: 4px;
    letter-spacing: 2px;
    font-size: 16px;
}

.email {
    color: #3d0066;
    font-weight: 500;
}
.email:hover {
    color: #7d5e92;
}

.para{
    margin-top: 50px;
    margin-left: 4px;
    font-size: 18px;
    text-transform: capitalize;
    color: rgba(53, 48, 48, 0.842);
}
.icons{
    margin-top: 50px;
    font-size: 50px;
    color: rgb(80, 77, 77);
    padding: 20px;
    letter-spacing: 5px;
}

i:hover{
      color: purple;
}

.experience {
    width: 100%;
    height: 150vh;
    margin-left: 20%;
    margin-top: 10%;
        padding-left: 55px;
        font-family: "Rubik", sans-serif;
        text-transform: uppercase;
        border-bottom: 1px rgba(44, 44, 44, 0.116);
        align-items: left;
        border-bottom: 2px solid rgb(15, 15, 15);
        

}    

    

.intro{
    
    font-size: 50px;
    
}

.heading2{
    font-size:25px ;
    margin-top: 30px;
}

.h3{
    color: gray;
}

.class1{
    margin-top: 20px;
    text-transform: none;
    word-spacing: 2px;
    color: rgb(102, 86, 86);
}
.date1{
   text-align: right;
    display: block;
    color: purple;
    margin-right: 330px ;
}
.education {
    width: 100%;
    height: 110vh;
    margin-left: 20%;
    margin-top: 10%;
        padding-left: 55px;
        font-family: "Rubik", sans-serif;
        text-transform: uppercase;
        border-bottom: 1px rgba(44, 44, 44, 0.116);
        align-items: left;
        border-bottom: 2px solid rgb(15, 15, 15);
        
}   
     

    
.info{
     font-size: 50px;   
    }

.heading3{
        font-size:25px ;
        margin-top: 30px;
    }
    
.small{
             color: gray;
    }
.class2{
        margin-top: 20px;
        text-transform: none;
        word-spacing: 2px;
        color: rgb(102, 86, 86);
    }
.date2{
       text-align: right;
        display: block;
        color: purple;
        margin-right: 330px ;
    }

    .heading4{
        font-size:25px ;
        margin-top: 50px;
    }
    
.small1{
             color: gray;
    }
.class3{
        margin-top: 20px;
        text-transform: none;
        word-spacing: 2px;
        color: rgb(102, 86, 86);
    }
.date3{
       text-align: right;
        display: block;
        color: purple;
        margin-right: 330px ;
    }

    .skills {
        width: 100%;
        height: 110vh;
            padding-left: 55px;
            margin-left: 20%;
            margin-top: 10%;
            font-family: "Rubik", sans-serif;
            border-bottom: 1px rgba(44, 44, 44, 0.116);
            align-items: left;
            border-bottom: 2px solid rgb(15, 15, 15);
            
    }   

    .heading5{
        font-size: 50px;
    }
 .tools{
    margin-top: 20px;
    color: rgb(116, 107, 107);
 }   
 
 .circle{
    margin-top: 50px;
    font-size: 50px;
    color: rgb(80, 77, 77);
    padding: 10px;
    letter-spacing: 5px;
 }
.workflow{
    margin-top: 40px;
    font-size: 20px;
    color: rgb(116, 107, 107);
    margin-bottom: 20px;
}

.list{
    color:rgb(116, 107, 107) ;
    
}
li i{
    padding: 10px;
}

 .interest{
    width: 100%;
        height: 110vh;
            padding-left: 55px;
            margin-left: 20%;
            margin-top: 10%;
            font-family: "Rubik", sans-serif;
            border-bottom: 1px rgba(44, 44, 44, 0.116);
            align-items: left;
            border-bottom: 2px solid 
            rgb(15, 15, 15);
 }
 .heading6{
    font-size: 50px;
 }

 .one{
    margin-top: 80px;
    color:rgb(116, 107, 107) ;
   
 }

 .two{
    color:rgb(116, 107, 107) ;
    
    margin-top: 40px;
 }

 .awards{
    width: 100%;
        height: 110vh;
            padding-left: 55px;
            margin-left: 20%;
            margin-top: 10%;
            font-family: "Rubik", sans-serif;
            border-bottom: 1px rgba(44, 44, 44, 0.116);
            align-items: center;
            border-bottom: 2px solid 
            rgb(15, 15, 15);
 }

 .heading7{
    font-size: 50px;
    margin-bottom: 50px;
 }

 .trophy{
    color:rgb(116, 107, 107) ;
    
}
li i{
    padding: 10px;
}

.fa-trophy{
    color: goldenrod;
}